:root {
  --primary-color: #e91e63;
  --secondary-color: #783d53;
  --text: #f6f6f6;
  --background: #555;
  --black: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: rgb(24, 26, 27);
  background-image: url(./images/nicolas-lobos-kGtFjYdm7DI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: rgba(232, 230, 227, 0.87);
}

.main {
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6;
  color: var(--text);
  font-size: 1.1rem;
  position: relative;
  display: grid;
  height: 100vh;
  background-image: url(./images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-color: #0a0a0a;
  grid-template-rows: auto auto 8%;
}

h1 {
  line-height: 1.3;
}

a {
  color: var(--text);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 1rem;
}

.navbar a:hover {
  color: #555;
}

.showcase {
  margin: 2rem 0;
}

.showcase .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}

.showcase h1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.showcase p {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--text);
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

.section-footer {
  grid-row-start: 3;
  grid-row-end: 4;
  background: var(--black);
  color: var(--text);
  padding: 1rem 0;
}

.section-footer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .showcase {
    margin-bottom: 0%;
    background-image: url(./images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: #0a0a0a;
  }

  .showcase .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .showcase .container div:first-child {
    order: 2;
  }

  .showcase .container div:nth-child(2) {
    order: -1;
  }

  .showcase img {
    width: 80%;
    margin: auto;
  }

  .section-footer {
    padding: 2rem 0;
  }
  .section-footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-footer div:nth-child(2),
  .section-footer div:nth-child(3) {
    display: none;
  }
}